// NAV STYLES

nav {
    width: 85vw;
    padding: 6vw 7.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include laptop
    {
        width: 90%;
        padding: 4vw 4.8vw;
    }

    @include desktop
    {
        width: 90%;
        padding: 2.5vw 4.8vw;
    }

    img 
    {
        width: 5rem;

        @include laptop
        {
            width: 8rem;
        }
    }


    .nav--button
    {
        background-color: #ffffff;
        border: 0.5vw solid $Pink;
        color: $Pink;
        font-size: 0.45rem;
        padding: 2vw 5vw;
        border-radius: 10vw;
        font-family: $OpenSans;
        font-weight: 600;
        transition: .4s;
        cursor: pointer;

        
        @include tablet {
            border: 0.4vw solid $Pink;
            font-size: 0.65rem;
        }

        @include laptop 
        {
            border: 0.2vw solid $Pink;
            padding: 1vw 4vw;
        }

        @include desktop 
        {
            padding: 0.75vw 3vw;
        }

        &:hover
        {
            color: $LightPink;
            border-color: $LightPink;
        }
    }
}